API_HOST=localhost
API_PORT=4000
BACKEND_URL=http://localhost:4000
FRONTEND_URL=http://localhost:3000
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://superadmin:superadmin@localhost:5432/protocol_site?schema=public
INTERNAL_BOT_URL=http://127.0.0.1:4000
STEAM_API_KEY=
COOKIE_SECRET=
BOT_TOKEN=
